.author-user  {
    background-color: #D1E7DD;
    color: #0F5132;
    border: 2px solid #88a799;
}
.author-other  {
    background-color: #F8D7DA;
    color: #721C24;
    border: 2px solid #af8b8f;
}
.author-undo-redo  {
    background-color: #E2E3E5;
    color: #41464B;
    border: 2px solid #B1B3B5;
}

#code-container {
    font-family: Consolas, 'Courier New', monospace;
    white-space: pre-wrap; /* Preserve whitespace and wrap as needed */
    word-wrap: break-word; /* Break long words to prevent overflow */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: auto;
}

#graph-container {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    margin-top: 20px;
}

/* dagre-d3 graph styles */
.node rect {
  fill: #f0f0f0;       /* interior color */
  stroke: #333;        /* border color */
  stroke-width: 1.5px;
}

.node text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

.edgePath path {
  stroke: #333;        /* edge line color */
  stroke-width: 1.5px;
  fill: none;
}