.author-user  {
    background-color: #D1E7DD;
    color: #0F5132;
    border-color: #88a799;
}
.author-external-paste  {
    background-color: #F8D7DA;
    color: #721C24;
    border-color: #af8b8f;
}
.author-system  {
    background-color: #FFF3CD;
    color: #664D03;
    border-color: #d6c26d;
}
.author-unknown  {
    background-color: #E2E3E5;
    color: #41464B;
    border-color: #B1B3B5;
}
.author-existing-text  {
    border: none;
}

.edit-range {
    border: 1px solid transparent;
}

#code-container {
    font-family: Consolas, 'Courier New', monospace;
    white-space: pre-wrap; /* Preserve whitespace and wrap as needed */
    word-wrap: break-word; /* Break long words to prevent overflow */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow-x: auto;
}

#graph-container {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    margin-top: 20px;
}

/* dagre-d3 graph styles */
.node rect {
    fill: #f0f0f0;       /* interior color */
    stroke: #333;        /* border color */
    stroke-width: 1.5px;
}

.node text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.edgePath path {
    stroke: #333;        /* edge line color */
    stroke-width: 1.5px;
    fill: none;
}